/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

resources/js/sanayonph/.idea
/public/mix-manifest.json
/public/js/*
!/public/js/app.js

/public/uploads/images/avatars/064/*
/public/uploads/images/avatars/128/*
/public/uploads/images/avatars/256/*
/public/uploads/images/products/064/*
/public/uploads/images/products/128/*
/public/uploads/images/products/300/*
/public/uploads/images/screenshots/*

!/public/uploads/images/avatars/064/___.md
!/public/uploads/images/avatars/128/___.md
!/public/uploads/images/avatars/256/___.md
!/public/uploads/images/products/064/___.md
!/public/uploads/images/products/128/___.md
!/public/uploads/images/products/300/___.md
!/public/uploads/images/screenshots/___.md
